@import '../../styles/global.main.scss';

.container {
	display: flex;
	width: 100%;
	flex: 1 1 0%;
	justify-content: flex-end;


	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		margin: 0;
	}

	.btn svg circle {
		transition: fill 0.2s linear;
	}

	.btn:hover svg circle {
		fill: $gray;
	}

}

.listContainer {
	position: relative;
}

.list {
	position: absolute;

}
