@import '../../../../../../../styles/global.main.scss';

.dropdown {
	position: absolute;
	top: 40px;
	right: -61.5px;

	.dropdownList {
		position: relative;
		border: 1px solid $gray-light;
		background-color: $white;

		.dropdownItem {
			min-width: 165px;
			height: 36px;
			transition: background-color 0.2s linear;


			.btn {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				padding: 0 15px;
				@include text;
				font-weight: 300;
				color: $gray;
			}

			.btn:disabled {
				cursor: default;

			}

			.btn:disabled svg path {
				fill: $gray-light;
			}

			.btn svg {
				margin-right: 8px;
			}
		}

		.dropdownItem:hover {
			background-color: $gray-light-f1;
		}
	}

	.dropdownList:after {
		content: "";
		width: 9px;
		height: 9px;
		display: block;
		position: absolute;
		top: -5px;
		right: 50%;
		left: 50%;
		border-bottom: 1px solid $gray-light;
		border-left: 1px solid $gray-light;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		background: linear-gradient(45deg, $white 50%, rgba(255, 255, 255, 0) 50%);
	}
}

.title {
	margin: 0;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.0625rem;
	color: $text-color;
}

.btnDelete {
	width: 162px;
	height: 55px;
	background-color: $red;
	margin-bottom: 10px;
	font-weight: 500;
	@include text;
	color: #FFFFFF;
}

.btnEsc {
	border-bottom: 1px solid $text-color;
	font-weight: 300;
	@include text;
	color: $text-color;
}
