$red: #DC3E22;
$dark-red: #B7280F;
$red-light: #EA8A79;
$text-color: #333333;
$light-green: #A8B64F;
$dark-green: #899441;
$white: #fff;
$gray: #999999;
$gray-light: #C4C4C4;
$gray-light-f1: #F4F4F4;

$blue: #C5F1FF;
$purple: #DFDCFE;
$orange: #FFDDA9;
