@import '../../styles/global.main.scss';

.main {
	padding: 100px 0;


	.container {
		display: grid;
		// grid-template-rows: auto;
		grid-template-columns: repeat(12, 1fr);
		gap: 32px;
		@include container;
	}
}
