@import '../../../../styles/global.main.scss';

.mainTimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 70px 0 107px 0;
	background-color: $gray-light-f1;
}
