@import '../../../styles/global.main.scss';

.stop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-column: 9 / 13;
	grid-row: 3 / 4;
	width: 100%;
	height: 179px;
	padding: 25px;
	background: $gray-light-f1;

	.descr {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;

		.title {
			@include text-bold;
		}

		.stops {
			font-weight: 400;
			font-size: 64px;
			line-height: 76px;
			color: #333333;
		}
	}
}

.blue {
	background-color: $blue;
}

.svg path {
	stroke: #7FC2D7;
}
