@import '../../../../../styles/global.main.scss';

.stopwatch {
	position: relative;
	font-weight: 100;
	font-size: 150px;
	line-height: 179px;
	color: $text-color;


	.setting {
		position: absolute;
		right: -75px;
		top: 0;
		bottom: 0;


		.btn path {
			transition: fill .2s linear;
		}

		.btn:hover path {
			fill: $dark-green;

		}
	}
}

.stopwatchBlack {
	color: $text-color;
}

.stopwatchGreen {
	color: $light-green;
}

.stopwatchRed {
	color: $red;
}
