@import '../../../styles/global.main.scss';

.pomodoro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	width: 100%;
	height: 179px;
	background: $gray-light-f1;
	padding-top: 23px;

	.img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
		@include text-bold;
		color: $gray;
	}

	.img svg {
		margin-right: 15px;
	}

	.count {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 51px;
		color: $white;
		background-color: $red;
		@include text-bold;
	}
}
