@import '../../../../styles/global.main.scss';

.hederTimer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 55px;
	padding: 0 40px;


	.title {
		@include text;
		font-weight: 700;
		color: $white;
		;
	}

	.number {
		@include text;
		font-weight: 400;
		color: $white;
	}
}

.hederGray {
	background-color: $gray-light;
}

.hederGreen {
	background-color: $light-green;
}

.hederRed {
	background-color: $red;
}
